<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="elfooter" class="border-t border-gray-500 mt-4">
    <div class="mx-auto max-w-screen-xl p-4 m-4 md:flex md:items-center md:justify-between">
        <span class="text-sm md:text-base flex justify-center md:justify-start">© 2025 ElTumbómetro™.</span>
        <ul class="flex flex-wrap justify-center md:justify-end md:mt-0 mt-3 text-sm font-medium">
            <li>
                <a href="#" class="text-sm md:text-base me-6">About</a>
            </li>
            <li>
                <a href="#" class="text-sm md:text-base me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="text-sm md:text-base me-6">Licensing</a>
            </li>
            <li>
                <a href="#" class="text-sm md:text-base me-6">Contact</a>
            </li>
        </ul>
    </div>
</footer>

</html>